In [1]:
from py_experimenter.experimenter import PyExperimenter
from py_experimenter.result_processor import ResultProcessor

In [2]:
experimenter = PyExperimenter(config_file="config/experiments-test.cfg")
experimenter.fill_table_from_config()

In [3]:
experimenter.get_table()

,ID,dataset,seed,epsilon,creation_date,status,start_date,name,machine,analysis,end_date,error
0,1,61,0,-3,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
1,2,61,1,-3,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
2,3,61,2,-3,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
3,4,61,0,-2,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
4,5,61,1,-2,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
5,6,61,2,-2,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
6,7,61,0,-1,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
7,8,61,1,-1,"10/26/2022, 14:38:20",created,None,None,None,None,None,None
8,9,61,2,-1,"10/26/2022, 14:38:20",created,None,None,None,None,None,None

In [4]:
%%time
def f(keyfields: dict, result_processor: ResultProcessor, custom_config):
    print("GO")
    
experimenter.execute(f, max_experiments=-1, random_order=True)

GO
GO
GO
GO
GO
GO
GO
GO
GO
CPU times: user 32.2 ms, sys: 12.3 ms, total: 44.5 ms
Wall time: 174 ms